<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body.modal-open .card:hover {
            transform: none !important;
        }
        @keyframes legendaryAnimation {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.3) rotate(10deg);
            }
            100% {
                transform: scale(1);
            }
        }
        body {
            background-image: url('static/body-content-bg.jpg');
            background-repeat: repeat-y;
        }

        .card {
            transition: transform 0.3s ease-in-out;
        }

        .card img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }

        .card {
            background: transparent;
            border: none;
        }
        .card:hover:not(.modal-open) {
            transform: scale(1.1);
        }

        .gold-indicator {
            text-align: center;
            margin-top: 5px;
            font-weight: bold;
        }

        .gold-indicator img {
            width: 20px;
            height: auto;
        }

        .modal-content {
            background: url("static/redwood.png");
            border: none;
        }

        .modal-header {
            background-image: url('static/fade.png');
            background-repeat: repeat;
        }

        .modal-dialog {
            max-width: 50%;
            height: auto;
        }

        .modal-footer {
            padding: 0;
        }

        .footer-image {
            background: url('static/fade.png');
            height: 60px;
            width: 100%;
        }
        .card.legendary:hover {
            animation: legendaryAnimation 1s ease-in-out;
        }
        body.modal-open .card {
            animation: none !important; /* This is the fix for hover bug when the modal is opened*/
        }

        .back-to-top {
            position: fixed;
            bottom: 25px;
            right: 25px;
        }
        #scrollToTopButton {
            position: fixed;
            bottom: 75px;
            right: 25px;
        }

        #goToSearchButton {
            position: fixed;
            bottom: 25px;
            right: 25px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Search Results</h2>
    <p>{{ cards_with_image }} card(s) found</p>

    <div class="row">
        {% for card in cards %}
        {% if card['img'] %}
        <div class="col-md-4 mb-4">
            <div class="card border-0 {% if card['rarity'] == 'Legendary' %}legendary{% endif %}" style="width: 18rem;">
                <img src="{{ card['img'] }}" class="card-img-top" alt="{{ card['name'] }}" data-toggle="modal"
                     data-target="#goldModal{{ loop.index }}">
                <div class="gold-indicator">
                    {% if 'imgGold' in card %}
                    <img src="{{ url_for('static', filename='imgGold.png') }}" alt="Gold Version Indicator">
                    Gold Version
                    {% else %}
                    No Gold Version
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text"></p>
                    {% if 'imgGold' in card %}
                    <div class="modal fade" id="goldModal{{ loop.index }}" tabindex="-1" role="dialog"
                         aria-labelledby="goldModalLabel{{ loop.index }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="goldModalLabel{{ loop.index }}">{{ card['name'] }} -
                                        Gold Version</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="{{ card['img'] }}" class="img-fluid card-image"
                                             alt="{{ card['name'] }}">
                                        {% if 'imgGold' in card %}
                                        <img src="{{ card['imgGold'] }}" class="img-fluid card-image"
                                             alt="{{ card['name'] }} Gold">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="footer-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<a href="#" id="scrollToTopButton" class="btn btn-light btn-lg back-to-top" role="button"><i class="fa fa-chevron-up"></i></a>
<a href="/" id="goToSearchButton" class="btn btn-light btn-lg back-to-top" role="button"><i class="fa fa-search"></i></a>

</body>
</html>
